<%= form_with(model: friend) do |form| %>
  <% if friend.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(friend.errors.count, "error") %> prohibited this friend from being saved:</h2>

      <ul>
        <% friend.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row g-2">
    <div class="form-floating mb-3 col-md">
      <%= form.text_field :first_name, class: 'form-control', placeholder: 'Name'%>
      <%= form.label :first_name %>
    </div>
    <div class="form-floating mb-3 col-md">
      <%= form.text_field :last_name, class: 'form-control', placeholder: 'Surname'%>
      <%= form.label :last_name %>
    </div>
  </div>


  <div class="row g-2">
    <div class="form-floating mb-3 col-md">
      <%= form.text_field :email, class: 'form-control', type: 'email', placeholder: 'Email' %>
      <%= form.label :email, class: 'form-label' %>
    </div>

    <div class="form-floating mb-3 col-md">
      <%= form.text_field :phone, class: 'form-control', placeholder: 'Phone' %>
      <%= form.label :phone, class: 'form-label' %>
    </div>

    <div class="form-floating mb-3 col-md">
      <%= form.text_field :twitter, class: 'form-control', placeholder: 'Twitter' %>
      <%= form.label :twitter, class: 'form-label' %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-outline-primary' %>
  </div>
<% end %>
