<% if user_signed_in? %>
  <table class="table table-bordered table-hover mt-3">
    <thead class="table-light">
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Twitter</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @friends.each.with_index(1) do |friend, index| %>
        <tr>
          <td><%= index %></td>
          <td><%= link_to "#{friend.first_name} #{friend.last_name}", friend %></td>
          <td><%= friend.email %></td>
          <td><%= friend.phone %></td>
          <td><%= friend.twitter %></td>
          <td><%= link_to 'Delete', friend, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger btn-sm' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Friend', new_friend_path, class: 'btn btn-outline-primary' %>
<% end %>
